// bg-video
// bg-video__content

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  // to remove a tiny extra portion of the video
  overflow: hidden;

  &__content {
    width: 100%;
    height: 100%;
    // scale and mantain aspect ratio
    // the overflow content is clipped
    object-fit: cover;
    // object-fit: fill =>not mantaining aspect ratio
    // and contain will fill the parent but without clipping
  }
}
